.backgr{
  position: fixed;

}
.me{
  font-size: 20px;
  position: relative;
  top: 5% ;

}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
    border-radius: 20% 55% 55% 20%;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.g-petal {
    background: rgb(125,255,225);
    border: 1px solid rgb(125,255,225);
}
.p-petal {
    background: rgb(255,160,190);
    border: 1px solid rgb(255,160,190);
}
