.btn{
	background-color: red;
	border: none;
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	width: 200px;
	height: 55px;
	border-radius: 5px;
	display: flex;
    flex-wrap: wrap; 
    -webkit-box-shadow: -1px 3px 20px -1px rgba(0,0,0,0.47);
	-moz-box-shadow: -1px 3px 20px -1px rgba(0,0,0,0.47);
	box-shadow: -1px 3px 20px -1px rgba(0,0,0,0.47);
}
.img{
	padding: 0;
	margin-left: 0;
	text-align: right;
	width: 30%;
	background-color: maroon;
}
.btn img{
	padding-top:10%;
	width: 95%	;
	height: auto;
}
.start{
	background-color: maroon;
	width:2%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.arrow{
	background: linear-gradient(to right, maroon, red);
	width:10%;
}
.text{
	padding-right: 1%;
	padding-top:2%;
	text-align: right;
	width: 52%;
}
.effect{
	width:0;
	background-color: maroon;	
	transition: all 0.5s ease, transform 2s;
}

.stick{
	background-color: white;
	height: 10%;
	float: right;
	margin-top: 60%;
}
#one{
	margin-top: 150%;
}
.big{
	width: 100%;
}
.small{
	width: 50%;
}
.move{
	width:5%;
	transition: all 0.5s ease;
}
a{
	text-decoration: none;
}
a:hover .effect{
	width:5%;
}
a:hover .move{	
	width:0;
	}
