/* poiret-one-regular - latin */
@font-face {
    font-family: 'PoiretOneNormal';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poiret/poiret-one-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('PoiretOne'), local('PoiretOne-Regular'),
    url('../fonts/poiret/poiret-one-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poiret/poiret-one-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poiret/poiret-one-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poiret/poiret-one-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poiret/poiret-one-v7-latin-regular.svg#PoiretOne') format('svg'); /* Legacy iOS */
}

html, body {
    font-family: 'PoiretOneNormal', cursive !important;
}
.text-poiret {font-family: 'PoiretOneNormal', cursive !important;}
.text-uppercase{text-transform: uppercase;}
.text-muted{color:#BCBBBB;}
.bg-purple {background-color: rgb(60,10,85) !important;}
.bg-white {background-color: white !important;}
.text-purple {color: rgb(60,10,85);}
.text-green {color: rgb(125,255,225);}
.text-pink {color: rgb(255,160,190);}
.text-white {color: white;}
a {
    color: rgb(125,255,225) !important;
    text-decoration: none !important;
}
a:focus, a:hover, a:active {
    color: rgb(255,160,190) !important;
    text-decoration: none !important;
}
