/* poiret-one-regular - latin */
@font-face {
    font-family: 'PoiretOneNormal';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poiret/poiret-one-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('PoiretOne'), local('PoiretOne-Regular'),
    url('../fonts/poiret/poiret-one-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poiret/poiret-one-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poiret/poiret-one-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poiret/poiret-one-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poiret/poiret-one-v7-latin-regular.svg#PoiretOne') format('svg'); /* Legacy iOS */
}

/*using before page is loaded*/
.overlay{
  text-align: center;
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  transition: 1s 0.4s;
}
.gif{
  position:fixed;
  top:40%;
  width: 10%;
  margin: auto;
}
/*-----------------------------*/
.container-fluid {padding: 0 !important; margin: 0 !important;}
html, body {
    max-width: 100%;
    min-height: 100vh !important;
    overflow-x: hidden;
}
body{
    padding: 0; margin: 0;
    font-family: 'PoiretOneNormal', cursive !important;
    color: rgb(125,255,225) !important;
    background-color: rgb(60,10,85);
}
header{text-align: right;}
header .subname{margin: 0 1%;}
.navbar {border-style: none !important; }
.nav-parent{
    width: 100%; padding: 0 !important;
    position: relative;
}
.text-uppercase{text-transform: uppercase;}
.text-muted{color:#BCBBBB;}
.title-super{
  margin: 0 1%;
  font-size: 60px;
  color: rgb(255,160,190);
}

.main{
  padding: 0; margin: 0;
  width: 100%; height: 100%;
  background-color: rgb(60,10,85);
}

/*Art gallery stuff*/
.gallery{margin: 2% auto;}
.art{position: relative;}
.arts canvas{margin-bottom: 0;}
.art-title{
  text-align: center;
  background-color: rgba(60,10,85,0.8);
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 1%;
  }
.arrow{
  background-color: rgba(60,10,85,0.8);
  height: 60px;
  text-align: center;
  font-size: 40px;
  margin: 2% auto;
}
.no{display: none;}


#coming-canvas {
  width: 80%;
  padding: 0;
  margin:1% auto;
  display: block;
}

/*here comes footer stuff*/
footer{
  width: 100%; height: auto;
  padding: 0;
  padding-top: 1%;
  font-size: 20px;
  text-align: center;
  margin:0;
  bottom: 0 !important;
  position: static;
  background-color: rgb(60,10,85);
}
.no-mar{margin: 0 !important;}
footer img {
  vertical-align: central;
  width: 75%;
  height:auto;
}
.highlighted img{
  width:95%;
  height: auto;
}
/*----------------------------*/
/*for different devices*/
@media only screen and (max-width: 900px) {
  .title-super{
    font-size: 40px;
  }
  .subname{
    font-size: 20px;
  }

}
@media only screen and (max-width: 500px) {
  .title-super{
    font-size: 30px;
  }
  .subname{
    font-size: 15px;
  }
  footer .col-4{
    width: 100%;
  }
}
/*-----------------------------*/
