.navbar {align-items: stretch; background-color: rgb(60,10,85) !important; color: white;}
@media (min-width:768px) {.container{width:503px}}
@media (min-width:992px) {.container{width:723px}}
@media (min-width:1200px){.container{width:923px}}
@media (min-width:1432px){.container{width:1170px}}
@media (min-width:768px) {
    body {padding-top: 70px}
    .navbar-fixed-right {
        position:fixed;top:0;width:100%;z-index:1030
    }
    .navbar-header {
        top: 0%;
        height: 10%;
        max-height: 10%;
        margin: 0 auto;
        padding: 0%;
    }
    .navbar-date {
        height:1%;
        top:3%;
    }
}
@media (max-width:768px) {
    .body {padding-top: 0px;}
    .nav-fixed-right {
        padding-top: 0;
        position: static !important;
        width: 100%;
    }
}
@media (min-width:768px){
    .navbar-fixed-right{
        width:232px;height:100vh;border-radius:0
    }
    .navbar-fixed-right .container,.navbar-fixed-right .container-fluid{
        padding-right:0;padding-left:0;width:auto
    }
    .navbar-fixed-right .navbar-header{
        float:none;padding-left:15px;padding-right:15px; padding-bottom:0%; margin-bottom:0%;}
    .navbar-fixed-right .navbar-collapse{
        padding-right:0;padding-left:0;max-height:none
    }
    .navbar-fixed-right .navbar-collapse .navbar-nav{
        float:none!important
    }
    .navbar-fixed-right .navbar-collapse .navbar-nav>li{
        width:100%
    }
    .navbar-fixed-right .navbar-collapse .navbar-nav.navbar-right{
        margin-right:0
    }
    body {
        padding-top: 0;
        margin-right: 232px
    }
    .navbar-fixed-right {
        right: 0 !important;
        left: auto !important;
    }
}
pre, code {text-align: left;}
.info {
    min-height: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.post {
    text-align: left;
    font-size: 1.2rem;
    margin: 7% 3%;
}

pre.comment {
    font-weight: 10;
    overflow: visible;
}

.tag-block {
    margin: 1% auto;
}
.post-body a{
    color: rgb(125,255,225);
    text-decoration: none;
}

.post-body a:focus, .post-body a:hover, .post-body a:active{
    text-decoration: none;
    color: rgb(60,10,85);
}

.post-body img, .post-body a img {
    max-width: 85%;
}

.post blockquote {
    padding-left: 2%;
    border-left: 4px solid rgb(60,10,85);
}

/* Table of Contents (TOC) */
/* Do not show on small screens */
@media (max-width:767px) {
    .toc-zone {display:none;}
    .toc {display: none;}
}

@media (min-width:768px) {
    .toc-zone {
        width: 100%;
        max-height: 70%;
        margin-top: auto;
        margin-bottom: 0;
    }
    .toc {
        overflow:hidden;
        font-size: 0.9em;
        height: 100%;
        width: 100%;
        padding-left: 0%;
    }
    .toc:hover { overflow-y:scroll !important; visibility: visible; }
    .toc ul {
        list-style-type: none;
        padding-left: 10%;
    }
    .toc li {
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .toc a, .toc a:visited {
        color: rgb(125,255,225);
    }
}

.post-body {font-family: 'Raleway', sans-serif;color: rgb(60,10,85);}
.post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
    font-family: 'PoiretOneNormal', cursive !important;
    color: rgb(60,10,85);
}

.active > a {color: rgb(255,160,190) !important;}

/* Tags */
.btn-tag {
    background-color: white;
    border-color: rgb(60,10,85);
    color: rgb(60,10,85) !important;
}
.btn-tag:hover, .btn-tag:focus, .btn-tag:active {
    background: linear-gradient(to right, rgb(125,255,225), rgb(255,160,190)) !important;
    color: white !important;
}
