<link rel="stylesheet" type="text/css" href="/css/about.css">
<section class="container my-5">
    <div class="row text-green my-5"> <div class="col-11 col-sm-10 col-md-10 mx-auto text-center">
        <h3 class="text-left">I'm a hard worker with experience in web development. A goal-oriented focused person who pays attention to details and never stops learning new things and improving already existing skills. I am actively looking for opportunities and exciting challenges!</h3>
    </div> </div>

  <div class="row text-green my-5"> <div class="col-12 col-sm-10 col-md-8 mx-auto text-center"> <h1 class="text-uppercase">Experience</h1> </div> </div>
  $for(experience)$
  <div class="row align-items-center justify-content-center mx-auto my-3 text-center">
    <div class="col-12 col-sm-4 col-md-3 image">
        <a class="company-link" target="_blank" href="$eLink$"><img src="/images/companies/$eImg$" class="img-fluid mx-auto" alt="$eName$" /></a>
        <h5>$eTime$</h5>
    </div>
    <div class="col-12 col-sm-8 col-md-6 cool-bg text-purple">
        <h1 class="company">$eName$</h1>
        <h3>$ePosition$</h3>
        <h4 class="float-right"><i class="fas fa-map-marker-alt"></i> $eCountry$</h4>
    </div>
  </div>
  $endfor$
  <div class="row text-green my-5"> <div class="col-xs-12 col-sm-10 col-md-8 mx-auto text-center"> <h1 class="text-uppercase">Skills</h1> </div> </div>

  <div class="row text-green my-5 text-center align-items-center justify-content-center mx-auto">
    <div class="col-12 col-sm-6 col-md-6 mx-auto text-center">
        <span>Technical:</span>
        <span class="btn btn-outline-light cool-btn">Haskell</span>
        <span class="btn btn-outline-light cool-btn">Elm</span>
        <span class="btn btn-outline-light cool-btn">PostgreSQL</span>
        <span class="btn btn-outline-light cool-btn">Git</span>
        <span class="btn btn-outline-light cool-btn">Linux</span>
    </div>
  </div>
  <div class="row text-green my-5 text-center align-items-center justify-content-center mx-auto">
  <div class="col-12 col-sm-6 col-md-6 mx-auto text-center">
      <span>Languages:</span>
      <span class="btn btn-outline-light cool-btn">Russian</span>
      <span class="btn btn-outline-light cool-btn">English</span>
      <span class="btn btn-outline-light cool-btn">Azerbaijani</span>
      <span class="btn btn-outline-light cool-btn">Esperanto</span>
  </div>
  </div>
  <div class="row text-green my-5"> <div class="col-12 col-sm-10 col-md-8 mx-auto text-center"> <h1 class="text-uppercase"><a class="btn btn-outline-light cool-btn" href="/files/cv_Veronika_Romashkina.pdf" download>For more Info Check out the Full CV</a></h1> </div> </div>
</section>
