<link rel="stylesheet" type="text/css" href="/css/about.css">
<section class="container mt-5 mb-5">
  <div class="row">
      <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-center text-purple">
      <h3>Experience</h3>
      <ul class="timeline">
        <li class="g-petal">
          <h4><a target="_blank" href="https://holmusk.com">Holmusk</a></h4>
          <h5>May, 2018 — present</h5>
          <h5>May, 2018 — present</h5>
        </li>
        <li class="p-petal">
          <h4><a target="_blank" href="https://serokell.io">Serokell</a></h4>
          <h5>May, 2018 — present</h5>
          <h5>November, 2017 — April, 2018</h5>
        </li>
        <li class="g-petal">
          <h4><a target="_blank" href="https://aelve.com">Aelve</a></h4>
          <h5>May, 2018 — present</h5>
          <h5>July, 2017 — October, 2018</h5>
        </li>

      </ul>
    </div>
  </div>
</section>
