<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>EN-RU</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <link rel="stylesheet" type='text/css' href="/css/frame.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="/js/main.js"></script> -->
  <link rel="shortcut icon" href="/favicon.ico">

</head>
<body>
	<section class="row">
		<h1>Super Duper App</h1>
	</section>
	<section class "row">
		<article class="col-3"></article>
		<article class="col-6">
		<form  id="ru-eng" method='post' >
			<fieldset form="ru-eng" title="Put your text here, which you have typed not proper keyboard by mistake" >
				<legend>EN-RU Decoder</legend>
			
				
					<input type="radio" name="lang" value="en">EN</input>
					<input type="radio" name="lang" value="ru">RU</input>
				
				<div class="col-md-4 error">{{error_lang}}</div>
			
			<div class="row">
				<div class="col-md-10">
					<textarea class="colorFont" name = "text_to_decode" placeholder="Text here" rows=6 >{{decode_text}}</textarea>
				</div>

				<div class="col-md-2 error">{{error_text}}</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<input type="submit" value="SEND" class="btn">
				</div>	
			</div>
			</fieldset>
		</form>
		</article>
		<article class="col-3"></article>
	</section>
</body>
