  <footer class="row no-mar">
      <article class="col-sm-4 col-xs-12">
        <section class="copyright" id="copyright">&copy; 2019 vrom911</section>
      </article>
      <article class="col-sm-4 col-xs-12">
          <!-- <h3>Contact Me</h3> -->
          $partial("templates/social.html")$
      </article>
      <article class="col-sm-4 col-xs-12">
          <section class="row">
          <section class="col-sm-6 col-xs-6">
              <a class="btn btn-outline-light cool-btn" href="mailto:vrom911@gmail.com">Send email</a>
          </section>
          <section class="col-sm-6 col-xs-6">
            <a class="btn btn-outline-light cool-btn" href="/files/cv_Veronika_Romashkina.pdf" download>Download CV</a>
          </section>
          </section>
      </article>
  </footer>
