  <footer class="row no-mar">
      <article class="col-sm-4 col-xs-12">

        <section class="row" id="copyright"><h2 class="no-mar subname">&copy; 2015 vrom911</h2></section>
      </article>
      <article class="col-sm-4 col-xs-12">
        <section class="row">
          <span class="col-sm-4"><h4 class="no-mar">+994 50 780 22 87</h4></span>
          <article class="icon col-sm-2"><img alt="Phone" src="/images/phone-coloured.png"></article>

          <span class="col-sm-4"><h4 class="no-mar">Download CV</h4></span>
          <section class="icon col-sm-2">
            <a href="/files/cv_Veronika_Romashkina.pdf" download><img alt="CV" src="/images/cv-coloured.png" title="Download"></a>
          </section>
        </section>


      </article>
      <article class="col-sm-4 col-xs-12">
        <!-- <h3>Contact Me</h3> -->
          <section class="row icons">
              <article class="icon col-sm-2 col-xs-2"><a href="https://www.linkedin.com/in/veronikaromashkina"  target="_blank"><img alt="linkedin" src="/images/linkedin-coloured.png" ></a></article>
              <article class="icon col-sm-2 col-xs-2">
            <!-- Secured e-mail from spam-botes via js http://webdevtools.ru/maillink -->
            <script type="text/javascript">eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%76%72%6f%6d%39%31%31%40%67%6d%61%69%6c%2e%63%6f%6d%22%3e%3c%69%6d%67%20%73%72%63%3d%22%2f%69%6d%61%67%65%73%2f%6d%61%69%6c%2d%63%6f%6c%6f%75%72%65%64%2e%70%6e%67%22%3e%3c%2f%61%3e%27%29%3b'))</script>
          </article>
          <article class="icon col-sm-2 col-xs-2"><a href="https://github.com/vrom911"  target="_blank"><img alt="github" src="/images/github-coloured.png" ></a></article>
          <article class="icon col-sm-2 col-xs-2"><a href="skype:vrom911?call"  target="_blank"><img alt="skype" src="/images/skype-coloured.png" ></a></article>
          <article class="icon col-sm-2 col-xs-2"><a href="http://vk.com/romashkina_veronika"  target="_blank"><img alt="vk"src="/images/vk-coloured.png"></a></article>
          <article class="icon col-sm-2 col-xs-2"><a href="https://www.facebook.com/ronnie.romashkina"  target="_blank"><img alt="fb" src="/images/fb-coloured.png"></a></article>
        </section>
      </article>

  </footer>
