<section class="container info">
    <section class="row align-items-center justify-content-center">
        <h1 class="text-uppercase"> What I <i class="fas fa-heart"></i></h1>
    </section>
    $for(hobbies)$
    <section class="row align-items-center justify-content-center my-5 mx-auto">
        <div class="col-md-2 col-xs-12">
           <a href="$hobbyLink$"> <div class="text-center">
            <i class="fas fa-$hobbyIcon$ fa-5x"></i>
            <h2 class="text-uppercase">$hobbyName$</h2>
           </div>
           </a>
        </div>
        <div class="col-md-6 col-xs-12">
            <h4>$hobbyDesc$</h4>
        </div>
    </section>
    $endfor$
</section>
