<section class="container my-5">
    <div class="row align-items-center justify-content-center mx-auto my-3">
        <div class="col-12 col-md-2 image me"><img src="/images/me.png" class="img-fluid mx-auto" alt="Veronika Romashkina" /></div>
        <div class="col-12 col-md-8 welcome">
            <h1>Welcome to my page!</h1>

            <p>I'm Veronika. Programming is one of my main interests in life. For a few years already I'm enjoying Haskell. The thing I'm very proud of is <a href="https://kowainik.github.io/" target="_blank">Kowainik</a> open source organization, which <a href="https://chshersh.github.io/" target="_blank">Dmitrii</a> and I founded in March 2018. So don't forget to check it out as well!</p>

            <p>Here you can find out more information about myself, explore what I do, and read some of my posts. Be my guest!</p>

            <p>And do contact me via details provided at the bottom of the page about anything :) </p>

            <h2>Allons-y!</h2>
        </div>
    </div>
</section>
