<link rel="stylesheet" type="text/css" href="/css/about.css">
<script type="text/javascript" src="/js/about.js"></script>
<section class="row backgr">
  <canvas data-processing-sources="/pde/backgr_about.pde"></canvas>
</section>
<section class="row me" id="my1" >
  <article class="col-sm-4"></article>
  <article  class="col-sm-4" id="intro" itemscope itemtype="http://schema.org/Person">
    Welcome to my portfolio web-site!
    I'm <span itemprop="givenName">Veronika </span> <span itemprop="familyName"> Romashkina</span>.
    Programming is the thing I'm strongly interested in. As a junior web-developer with passion to create interactive helpful apps I keep learning and trying to combine some magical/rational coding with enjoyable creative staff.

  </article>
</section>
