{% extends "base.html" %}
{% block content %}
<section class="row">
	<form method="post" id="art" >
		<fieldset form="art" title="Input title and art in this form" >
			<legend>New Art</legend>
			<label for="title">Title</label>
			<input id="title" type="text" name="title" value="{{title}}" autofocus>
			
			<br>

			<label for="filename">File name</label>
			<input id="filename" name="filename" value="{{filename}}">

			<br>

			<label for="desc">Description</label>
			<input id="desc" type="text" name="desc" value="{{desc}}" >

			<br>

			<label for="tags">Tags</label>
			<input id="tags" type="text" name="tags" value="{{tags}}" >
			
			<br>

			<input type="submit">
			<br>
			
			<div class="error">
				{{error}}
			</div>
		</fieldset>
	</form>
</section>
{% endblock %}