<link rel="stylesheet" type="text/css" href="/css/button.css">
<a href="" class="btn">	
		<section class="start"></section>
		<section class="effect">
			<section class="stick small" id="one"></section>
			<section class="stick big" ></section>
			<section class="stick small" ></section>
		</section>
		<section class="img"><img src="/images/email-white-hi.png"></section>
		<section class="arrow"></section>
		<section class="move"></section>
		<section class="text">
			<span>DOVLET ORQANLARINA MURECIET</span>
		</section>
</a>
