<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
<ul class="list-inline mb-0">
$for(socials)$
    <li class="list-inline-item">
        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="$socialLink$" target="_blank">
            <i class="$socialName$"></i>
       </a>
    </li>
$endfor$
</ul>
